@import "../../styles/index";

.ready-try {
  &_title {
    width: 281px;
  }

  &_text {
    max-width: 1003px;
  }

  .btn-light {
    @include btn-style;
    padding: 13px;
    color: $blue;
    &:hover {
      @include btn-style-hover;
      color: $white;
    }
  }
}

@media screen and (min-width: $md) {
  .ready-try {
    &_title {
      width: 100%;
    }
  }
}
