@import "../../styles/index";

.competitors {
  .card {
    border: 1px solid transparent;
    &-body {
      border-radius: 8px;
      border: 1px solid $grey700;
      box-shadow: 5px 5px 0 0 $blue-shadow;
      transition: all 0.3s;
      &:hover {
        box-shadow: 4px 4px 0 0 $blue;
      }
    }
  }

  .table {
    margin: 0;
    & > th {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: $fs-2m;
      line-height: $ln-2l;
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: $fs-base;
      line-height: $ln-base;

      img {
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }

    thead tr {
      border-bottom: 1px solid $grey700;
    }

    tbody {
      padding-top: 12px;
    }

    tbody tr:not(:last-child) {
      border-bottom: 1px solid $white-border;
    }

    tbody td {
      vertical-align: middle;
      padding: 15px 8px;
    }
  }
}
