@import "../../styles/index";

.competitors {
  background-image: none;
  .btn-primary {
    @include btn-style;
    &:hover {
      @include btn-style-hover;
    }
  }

  &-text {
    max-width: 947px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $lg) {
  .competitors {
    background-image: url("../../assets/images/competitors-bg.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
