$blue: #3a83f6;
$blue-secondary: #8fb4f1;
$blue-shadow: #c0d9ff;
$blue-select: #2c6ed5;
$grey400: #8b929a;
$grey700: #3e4957;
$white: #ffffff;
$white-border: #dde0e4;
$grey-border: #e2e9fc;
$grey-dark: #353f4b;

$colors: (
  "blue": #3a83f6,
  "blue-secondary": #8fb4f1,
  "grey400": #8b929a,
  "grey700": #3e4957,
  "white": #ffffff,
  "white-border": #dde0e4,
  "grey-border": #e2e9fc,
  "grey-dark": #353f4b,
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}
