body {
  font-family: Arial, Helvetica, sans-serif;
}

.fm-roboto {
  font-family: "Roboto", sans-serif;
}

.title {
  &-h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fs-l;
    font-weight: 700;
    line-height: $ln-l;
    color: $grey700;
    text-align: center;
  }
  &-h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fs-s;
    font-weight: 700;
    line-height: $ln-m;
    letter-spacing: 7px;
    color: $blue-secondary;
    text-align: center;
    text-transform: uppercase;
  }
}
