// fonts
$fs-base: 16px;

$fs-xxs: 11px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: $fs-base;
$fs-1m: 18px;
$fs-2m: 20px;
$fs-l: 24px;
$fs-xl: 32px;
$fs-xxl: 48px;

$font-sizes: (
  "0": 0,
  xss: $fs-xxs,
  xs: $fs-xs,
  s: $fs-s,
  m: $fs-m,
  1m: $fs-1m,
  2m: Sfm-2m,
  l: $fs-l,
  xl: $fs-xl,
  xxl: $fs-xxl,
);

@each $size, $font-size in $font-sizes {
  .fs-#{$size} {
    font-size: $font-size;
  }
}

// font-weight
@each $weight in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}
